.custom-navbar-bg {
    background-color: #1A187A;
    /* Replace with your desired color code */
}

/* .card-img-fixed-height {
    height: 200px;
    object-fit: cover;
} */


footer {
    background-color: #0E071B;
    color: #fff;
    /* Text color */
    padding: 20px;
    margin-top: 50px;
    /* Add margin to separate from content */
}

.footer-heading {
    font-size: 1.2rem;
    font-weight: bold;
}

.footer-links li {
    list-style: none;
}